*.html
*.R
ssdtools_cache/
ssdtools_files/
D_embelishing-plots_cache/
D_embelishing-plots_files/

A_model_averaging.pdf
B_distributions.pdf
C_confidence_intervals.pdf
D_embelishing-plots.pdf
E_additional-technical-details.pdf
ssdtools.pdf
